@font-face {
  font-family: "Quadraat Offc Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/QuadraatOffcPro/QuadraatOffcPro.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Quadraat Offc Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/QuadraatOffcPro/QuadraatOffcPro-Italic.ttf)
    format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Quadraat Offc Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./fonts/QuadraatOffcPro/QuadraatOffcPro-Bold.ttf) format("truetype");
  unicode-range: U+000-5FF;
}

:root {
  font-family: "Quadraat Offc Pro", Garamond, Georgia, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fffcf0;
  background-color: #262628;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

noscript {
  display: block;
  margin-top: 16px;
}

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#audio {
  display: none;
}

.hidden {
  display: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img.background {
  position: fixed;
  width: 100vw;
  width: 100lvw;
  height: 100vh;
  height: 100lvh;
  z-index: -1;
  object-fit: cover;
}

.tooltip {
  position: relative;
  background:
    linear-gradient(90deg, #2a2928 15%, #322f2b, #2a2928 85%) padding-box,
    conic-gradient(
        #6d4629 0deg,
        #8d602e,
        #aa7536 40deg 45deg,
        #624120 90deg,
        #43220e 120deg,
        #43220e 240deg,
        #624120 270deg,
        #aa7536 290deg 295deg,
        #8d602e,
        #6d4629 360deg
      )
      border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow:
    inset 0 0 8px 8px rgba(35, 35, 37, 0.7),
    0 0 16px 16px rgba(35, 35, 37, 0.4);
  width: 400px;
  max-width: 400px;
}

.tooltip > :not(.no-bleed) {
  margin: 0 16px;
}

.title.title {
  margin-top: 8px;
  margin-right: 56px;
  font-weight: 400;
}

.item-text {
  margin: 8px 24px 8px 0;
  display: flex;
}
.item-text .detail-icon {
  flex-shrink: 0;
}
.description.description {
  margin: 0;
  margin-right: 16px;
  font-style: italic;
  color: #717171;
}

.noscript .description {
  color: #f4b135;
}

.callout {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 8px;
  padding: 18px;
  background: #fffcf020;
}

.player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.player-controls-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.text-highlight {
  color: #e6dba0;
  text-decoration: none;
}
a.text-highlight:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

fieldset {
  display: grid;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  gap: 8px;
  border: none;
  grid-template-columns: repeat(2, 1fr);
  color: #eae1cc;
}

.option {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.input:focus + .option,
.option:hover {
  border: 2px solid #232221;
  background: #1f1e1d40;
}

.option:active,
.input:checked + .option {
  border: 2px solid #1f1e1d;
  background: #1f1e1d80;
}

.input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-top: 16px;
  background: radial-gradient(
      ellipse 80% 150% at bottom left,
      #3e284c 15%,
      transparent 100%
    ),
    radial-gradient(
      ellipse 80% 150% at bottom right,
      #3e284c 15%,
      transparent 100%
    ),
    linear-gradient(90deg, #20201c, #20201c);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.footer::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  content: " ";
  width: 100%;
  height: 48px;
  background: linear-gradient(to top, #3e284c60, transparent);
}

.footer-text {
  height: 1em;
  font-size: 0.8rem;
}

/* 
  The spritesheet system probably needs explaining.

  The sheet itself has two variables:

  * --spritesheet-<width|height>: 
      length (pixels)
      The size of the spritesheet.
      Used to properly scale any sprites on the sheet.

  Each sprite is defined by 4 variables:

  * --sprite-<width|height>: 
      number (no units)
      The size of the image in the sheet.
  * --sprite-<top|left>: 
      number (no units)
      Where the image is on the sheet

  Additionally, there are two more variables to determine how it displays
  
  * --extrinsic-<width|height>: 
      number (no units)
      The expected width/height of the element.
      Used to properly scale the image.
*/
.sprite {
  --spritesheet-width: 1024px;
  --spritesheet-height: 512px;

  width: calc(var(--extrinsic-width) * 1px);
  height: calc(var(--extrinsic-height) * 1px);
  padding: 0;
  border: none;

  background: url(./img/spritesheet.png);

  --ratio-width: calc(var(--extrinsic-width) / var(--sprite-width));
  --ratio-height: calc(var(--extrinsic-height) / var(--sprite-height));

  --bg-position-left: calc(var(--sprite-left) * var(--ratio-width) * -1px);
  --bg-position-top: calc(var(--sprite-top) * var(--ratio-height) * -1px);

  background-position: var(--bg-position-left) var(--bg-position-top);

  background-size: calc(var(--spritesheet-width) * var(--ratio-width))
    calc(var(--spritesheet-height) * var(--ratio-height));
}

.big-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15%, -15%) rotate(0deg) scale(1, 1);
  background-color: transparent;
  border: none;

  transition: transform 0.1s ease-in-out;

  --extrinsic-width: 64;
  --extrinsic-height: 64;
  --sprite-top: 128;
  --sprite-left: 0;
  --sprite-width: 128;
  --sprite-height: 128;
}
.big-icon:hover {
  transform: translate(15%, -15%) rotate(2deg) scale(1, 1);
}
.big-icon:active {
  transform: translate(15%, -15%) rotate(2deg) scale(0.97, 0.97);
}
.big-icon_bardic-inspiration {
  --sprite-left: 0;
}
.big-icon_restore-bardic-inspiration {
  --sprite-left: 128;
}
.big-icon_song-of-rest {
  --sprite-left: 256;
}
.big-icon_toss-a-coin {
  --sprite-left: 384;
}

.detail-icon {
  --extrinsic-width: 24;
  --extrinsic-height: 24;
  --sprite-top: 0;
  --sprite-left: 448;
  --sprite-width: 48;
  --sprite-height: 48;
}
.detail-icon_scroll {
  --sprite-top: 0;
  --sprite-left: 384;
}
.detail-icon_flask {
  --sprite-top: 0;
  --sprite-left: 432;
}
.detail-icon_warning {
  --sprite-top: 48;
  --sprite-left: 384;
}
.detail-icon_d20 {
  --sprite-top: 48;
  --sprite-left: 432;
}

.song-icon,
.instrument-icon {
  --extrinsic-width: 32;
  --extrinsic-height: 32;
  --sprite-top: 0;
  --sprite-left: 0;
  --sprite-width: 64;
  --sprite-height: 64;
}
.instrument-icon {
  --sprite-top: 64;
}
.song-icon_the-power {
  --sprite-left: 0;
}
.song-icon_old-time-battles {
  --sprite-left: 64;
}
.song-icon_bard-dance {
  --sprite-left: 128;
}
.song-icon_of-divinity-and-sin {
  --sprite-left: 192;
}
.song-icon_sing-for-me {
  --sprite-left: 256;
}
.song-icon_the-queens-high-seas {
  --sprite-left: 320;
}
.instrument-icon_voice {
  --sprite-left: 0;
}
.instrument-icon_flute {
  --sprite-left: 64;
}
.instrument-icon_violin {
  --sprite-left: 128;
}
.instrument-icon_lute {
  --sprite-left: 192;
}
.instrument-icon_lyre {
  --sprite-left: 256;
}
.instrument-icon_drum {
  --sprite-left: 320;
}
.instrument-icon_spider-lyre {
  --sprite-left: 384;
}

.control-button {
  --extrinsic-width: 32;
  --extrinsic-height: 32;
  --sprite-top: 376;
  --sprite-left: 0;
  --sprite-width: 68;
  --sprite-height: 68;
}
.control-button:not(:disabled) {
  cursor: pointer;
}
.control-play {
  --sprite-top: 308;
}
.control-pause {
  --sprite-top: 376;
}
.control-prev {
  --sprite-top: 444;
}
.control-button:hover {
  --sprite-left: 68;
}
.control-button:active {
  --sprite-left: 136;
}
.control-button:disabled {
  --sprite-left: 204;
}

.control-progress-wrapper {
  position: relative;
}
.control-progress {
  position: relative;
  z-index: 2;

  --extrinsic-width: 238;
  --extrinsic-height: 20;
  --sprite-top: 432;
  --sprite-left: 272;
  --sprite-width: 536;
  --sprite-height: 40;
}
.control-progress-fill {
  position: absolute;
  top: 0;
  z-index: 1;

  --sprite-top: 472;

  --fill-percent: 0;
  --clip-bleed: 20;
  --clip-inner-width: calc(var(--sprite-width) - (2 * var(--clip-bleed)));
  --clip-inner-width-clipped: calc(
    var(--clip-inner-width) * (var(--fill-percent) / 100)
  );
  --clip-outer-width: calc(var(--clip-bleed) + var(--clip-inner-width-clipped));
  --clip-width-percent: calc(
    (var(--clip-outer-width) * 100%) / var(--sprite-width)
  );

  clip-path: polygon(
    0% 0%,
    var(--clip-width-percent) 0%,
    var(--clip-width-percent) 100%,
    0% 100%
  );
}

@media (min-width: 400px) {
  .big-icon {
    --extrinsic-width: 96;
    --extrinsic-height: 96;
  }

  .title.title {
    margin-right: 80px;
  }

  .description.description {
    margin-right: 48px;
  }

  fieldset {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .big-icon {
    --extrinsic-width: 128;
    --extrinsic-height: 128;
  }

  .title.title {
    margin-right: 112px;
  }

  .description.description {
    margin-right: 80px;
  }

  .tooltip {
    width: 500px;
    max-width: 500px;
  }

  .player-controls {
    flex-direction: row;
  }

  .player-controls-section {
    display: contents;
  }
}

/* @media (prefers-contrast: more) {
  .description {
    color: #fffcf0;
  }
} */
