@font-face {
  font-family: "Quadraat Offc Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/QuadraatOffcPro/QuadraatOffcPro.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Quadraat Offc Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/QuadraatOffcPro/QuadraatOffcPro-Italic.ttf) format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Quadraat Offc Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/QuadraatOffcPro/QuadraatOffcPro-Bold.ttf) format("truetype");
  unicode-range: U+000-5FF;
}

:root {
  font-family: "Quadraat Offc Pro", Garamond, Georgia, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fffcf0;
  background-color: #262628;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#audio {
  display: none;
}

img.background {
  position: fixed;
  width: 100vw;
  width: 100lvw;
  height: 100vh;
  height: 100lvh;
  z-index: -1;
  object-fit: cover;
}

.tooltip {
  position: relative;
  background:
    linear-gradient(90deg, #2a2928 15%, #322f2b, #2a2928 85%) padding-box,
    conic-gradient(
        #6d4629 0deg,
        #8d602e,
        #aa7536 40deg 45deg,
        #624120 90deg,
        #43220e 120deg,
        #43220e 240deg,
        #624120 270deg,
        #aa7536 290deg 295deg,
        #8d602e,
        #6d4629 360deg
      )
      border-box;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow:
    inset 0 0 8px 8px rgba(35, 35, 37, 0.7),
    0 0 16px 16px rgba(35, 35, 37, 0.4);
  width: 400px;
  max-width: 400px;
}

.tooltip > :not(.no-bleed) {
  margin: 0 16px;
}

.title.title {
  margin-top: 8px;
  margin-right: 56px;
  font-weight: 400;
}

.item-text {
  margin: 8px 24px 8px 0;
  display: flex;
}
.item-icon {
  width: 24px;
  height: 24px;
}
.description.description {
  margin: 0;
  margin-right: 16px;
  font-style: italic;
  color: #717171;
}

.noscript .description {
  color: #f4b135;
}

.text-highlight {
  color: #e6dba0;
  text-decoration: none;
}
a.text-highlight:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

fieldset {
  display: grid;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  gap: 8px;
  border: none;
  grid-template-columns: repeat(2, 1fr);
  color: #eae1cc;
}

.option {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.input:focus + .option,
.option:hover {
  border: 2px solid #232221;
  background: #1f1e1d40;
}

.option:active,
.input:checked + .option {
  border: 2px solid #1f1e1d;
  background: #1f1e1d80;
}

.input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon {
  width: 2em;
  height: 2em;
  transition: filter 0.05s ease-in-out;
}

:disabled .icon {
  filter: opacity(0.5);
}

img.spell {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15%, -15%);
  width: 64px;
  height: 64px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-top: 16px;
  background: radial-gradient(
      ellipse 80% 150% at bottom left,
      #3e284c 15%,
      transparent 100%
    ),
    radial-gradient(
      ellipse 80% 150% at bottom right,
      #3e284c 15%,
      transparent 100%
    ),
    linear-gradient(90deg, #20201c, #20201c);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.footer::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  content: " ";
  width: 100%;
  height: 48px;
  background: linear-gradient(to top, #3e284c60, transparent);
}

.footer-text {
  height: 1em;
}

@media (min-width: 400px) {
  img.spell {
    width: 98px;
    height: 98px;
  }

  .title.title {
    margin-right: 80px;
  }

  .description.description {
    margin-right: 48px;
  }

  fieldset {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  img.spell {
    width: 128px;
    height: 128px;
  }

  .title.title {
    margin-right: 112px;
  }

  .description.description {
    margin-right: 80px;
  }

  .tooltip {
    width: 500px;
    max-width: 500px;
  }
}

/* @media (prefers-contrast: more) {
  .description {
    color: #fffcf0;
  }
} */
