@font-face {
  font-family: "Quadraat Offc Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/QuadraatOffcPro/QuadraatOffcPro.ttf) format("truetype");
}
@font-face {
  font-family: "Quadraat Offc Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/QuadraatOffcPro/QuadraatOffcPro-Italic.ttf) format("truetype");
}

:root {
  font-family: "Quadraat Offc Pro", Garamond, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #262628;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#audio {
  display: none;
}

picture {
  display: contents;
}

img.background {
  position: fixed;
  width: 100vw;
  width: 100lvw;
  height: 100vh;
  height: 100lvh;
  z-index: -1;
}

form {
  background:
    linear-gradient(0deg, #38383b, #38383b) padding-box,
    conic-gradient(
        #6d4629 0deg,
        #8d602e,
        #aa7536 40deg 45deg,
        #624120 90deg,

        #43220e 120deg,

        #43220e 240deg,

        #624120 270deg,
        #aa7536 290deg 295deg,
        #8d602e,
        #6d4629 360deg
      )
      border-box;
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow:
    inset 0 0 16px 16px rgba(35, 35, 37, 0.7),
    0 0 16px 16px rgba(35, 35, 37, 0.4);
}

.option {
  display: flex;
  gap: 12px;
}

.icon {
  width: 2em;
  height: 2em;
  transition: filter 0.05s ease-in-out;
}

:disabled .icon {
  filter: opacity(0.5);
}

.noscript-warning {
  color: rgba(255, 255, 255, 0.87);
  background-color: #47420c;
  border: 2px solid #69620e;
  border-radius: 4px;
}
